.content{
    text-align: left;
}

.wrapper{
    display: block;
    line-height: 1.42857143;
    text-align: center;
}

.btnStyle {
    box-shadow: none !important;
    transition: .5s;
    color: black !important;
}

.btnStyle:hover {
    background-color: #F14C36;
    color: white !important;
}

.btnStyle:active {
    background-color: red !important;
    color: white !important;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #050c33;
    margin-bottom: 30px;
    margin-top: 70px;
}

@media (min-width: 767px){
    .title{
        font-size: 42px;
    }
}