.button{
    height: 54px;
    border: #F14D34 2px solid;
    background-color: #F14D34;
    color: white;
    font-size: 13px;
}

.button:hover {
    background-color: transparent;
    color: red;
    border: #F14D34 2px solid;
}

.button:active {
    background-color: transparent !important;
    border: #F14D34 2px solid !important;
}

.title{
    font-weight: bold;
    line-height: 1.115;
    text-align: center;
    font-size: 24px;
    color: black;

    margin-left: auto;

    display: block;
    margin-bottom: 0;
}

@media screen and (min-width: 767px) {
    .title {
        margin-right: 0%;
        font-size: 28px;
    }
}

@media (max-width: 767px){
    .form{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@keyframes onClick {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes tickOnClick {
    0% {
        transform: scale(1) rotateY(-60deg);
    }

    100% {
        transform: scale(1) rotateY(0deg);
    }
}

.checkBoxGroup{
    display: block;
    position: relative;
    margin-bottom: 6px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkBox{
    position: absolute;
    cursor: pointer;
    height: 28px;
    width: 28px;
    opacity: 0;
    top: -30px;
}

.customCheckbox{
    position: absolute;
    background: transparent;
    border: 2px solid rgba(50, 50, 50, 0.5);
    border-radius: 5px;
    width: 28px;
    height: 28px;
    top: -30px;
}

.customCheckbox:hover{
    box-shadow: 0 0 5px red;
    transform: scale(0.95);
}

.customCheckbox:active{
    animation: onClick 0.15s;
}

.checkBox:checked + .customCheckbox::after{
    content: "";
    margin-top: 1px;
    margin-left: 0;
    width: 23px;
    height: 22px;
    background: url("./../../res/images/check2black.svg") no-repeat center;
    background-size: contain;
    opacity: 0.6;
    animation: tickOnClick 300ms;
}

.text{
    text-align: justify;
    margin-left: 36px;
    font-weight: normal;
    line-height: 1.35;
    font-size: 9pt;
}

.dot{
    text-decoration: none;
    color: white !important;
}

.dot::before{
    content: "";
    width: 16px;
    height: 16px;
    background: url("../../res/images/asterisk.svg") no-repeat;
    position: absolute;

    margin-top: -4px;
    margin-left: -2px;
    transform: scale(0.4);
}

.link{
    color: #F14D34 !important;
}

.formFieldWrap{
    margin: 0;
    padding: 0 0 7px;
}

.formField{
    color: black;
    font-weight: 500;
    line-height: 1.2;
    font-size: 14px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 26px 24px;
}

.formField:focus {
    color: black;
    background: transparent;
}

.formField:hover {
    background: transparent;
}

.formField:active {
    background: transparent;
}





.bgImg {
    padding-top: 35px;
    padding-bottom: 60px;

    background-repeat: no-repeat;
    background-image: url(../../res/images/new-dr-coder-bg.svg);

    background-position-x: center;
    background-size: 182px;
}

@media (min-width: 576px) {
    .bgImg {
        background-size: 290px;
    }

}

